<h1>Mainsdoeuvres</h1><br\><br\><br\>
<br>
<br>
<br>
<div class="blog-main">
  <table class="row">
<tbody>
    <% @mainsdoeuvres.each do |mainsdoeuvre| %>
      <div class="">
      <p style= color:red; ><u>La liste des Ouvriers:</u> </p>
        <p>Nom :<%= mainsdoeuvre.nom %></p>
        <p>Prenom :<%= mainsdoeuvre.prenom %></p>
        <p>Téléphone<%= mainsdoeuvre.telephone %></p>
        <p><%= link_to 'Show', mainsdoeuvre %></p>
        <p><%= link_to 'Edit', edit_mainsdoeuvre_path(mainsdoeuvre) %></p>
        <p><%= link_to 'Destroy', mainsdoeuvre, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mainsdoeuvre', new_mainsdoeuvre_path %>
