<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adress.name %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @adress.departement %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
